In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

%load_ext nb_black

In [2]:
warnings.filterwarnings('ignore')

In [3]:
df = pd.DataFrame({
    'Gender': ['M', 'F', 'M', 'M', 'F', 'M', np.nan, 'M'],
    'Manpower': [25, np.nan, 32, np.nan, 26, 29, 24, 32],
    'Sales': [344, 270, 320, 270, np.nan, 315, 262, 290]
})
df

  Gender  Manpower  Sales
0      M      25.0  344.0
1      F       NaN  270.0
2      M      32.0  320.0
3      M       NaN  270.0
4      F      26.0    NaN
5      M      29.0  315.0
6    NaN      24.0  262.0
7      M      32.0  290.0

In [4]:
#xóa theo dòng
df_no_missing = df.dropna()
df_no_missing

  Gender  Manpower  Sales
0      M      25.0  344.0
2      M      32.0  320.0
5      M      29.0  315.0
7      M      32.0  290.0

In [6]:
#xóa theo cột
df_no_missing = df.dropna(axis = 1)
df_no_missing

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7]

### thay bằng giá trị tương tự (similar case imputation) cho 2 biến phụ thuộc

In [10]:
# Manpower -> thay thế bằng giá trị tương tự do Sex và Manpower là 2 biến phụ thuộc
# tính mean của Male thay cho NaN của Male
# tính mean của Female thay cho NaN của Female

mean_male = df.loc[df['Gender'] == 'M', 'Manpower'].mean()
mean_male

29.5

In [11]:
mean_female = df.loc[df['Gender'] == 'F', 'Manpower'].mean()
mean_female

26.0

In [21]:
df.loc[(df["Gender"] == "M") & (df["Manpower"].isnull()), "Manpower"] = mean_male
df.loc[(df["Gender"] == "F") & (df["Manpower"].isnull()), "Manpower"] = mean_female

In [22]:
df

  Gender  Manpower  Sales
0      M      25.0  344.0
1      F      26.0  270.0
2      M      32.0  320.0
3      M      29.5  270.0
4      F      26.0    NaN
5      M      29.0  315.0
6    NaN      24.0  262.0
7      M      32.0  290.0

In [23]:
### thay bằng giá trị tổng quát (generalized imputation) cho 2 biến độc lập

In [27]:
mean_sale = df["Sales"].mean()
df.loc[df["Sales"].isnull()] = mean_sale

In [28]:
df

       Gender    Manpower       Sales
0           M   25.000000  344.000000
1           F   26.000000  270.000000
2           M   32.000000  320.000000
3           M   29.500000  270.000000
4  295.857143  295.857143  295.857143
5           M   29.000000  315.000000
6         NaN   24.000000  262.000000
7           M   32.000000  290.000000

In [29]:
df = pd.DataFrame(
    {
        "Gender": ["M", "F", "M", "M", "F", "M", np.nan, "M"],
        "Manpower": [25, np.nan, 32, np.nan, 26, 29, 24, 32],
        "Sales": [344, 270, 320, 270, np.nan, 315, 262, 290],
    }
)
df

  Gender  Manpower  Sales
0      M      25.0  344.0
1      F       NaN  270.0
2      M      32.0  320.0
3      M       NaN  270.0
4      F      26.0    NaN
5      M      29.0  315.0
6    NaN      24.0  262.0
7      M      32.0  290.0

In [31]:
### dùng nội suy tuyến tính
df.interpolate()

  Gender  Manpower  Sales
0      M      25.0  344.0
1      F      28.5  270.0
2      M      32.0  320.0
3      M      29.0  270.0
4      F      26.0  292.5
5      M      29.0  315.0
6    NaN      24.0  262.0
7      M      32.0  290.0

In [34]:
df["Gender"].interpolate()

0      M
1      F
2      M
3      M
4      F
5      M
6    NaN
7      M
Name: Gender, dtype: object