# Câu 1: 
Cho dữ liệu BMI.xlsx. Bộ dữ liệu này ghi lại BMI của một số quốc gia trong một số năm. \
Đọc dữ liệu \
Xem xét vấn đề về dữ liệu cần khắc phục. \
Chuẩn lại dữ liệu để khắc phục vấn dề trên

Đặt yêu cầu ngược lại là cần phải tạo pivot table để xem thống kê theo country, year. \
Hãy chuyển dữ liệu mới làm ở trên về dạng thống kê

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings

warnings.filterwarnings("ignore")

%load_ext nb_black

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [7]:
df = pd.read_excel("BMI.xlsx")

In [32]:
df

       Country  Y1980  Y1981  Y1982  Y1983
0  Afghanistan  21.48  21.46  21.45  21.44
1      Albania  25.22  25.24  25.26  25.27
2      Algeria  22.26  22.35  22.44  22.52

In [9]:
"""
=> vấn đề: tên cột chứa giá trị thay vì chứa biến
"""

'\n=> vấn đề: tên cột chứa giá trị thay vì chứa biến\n'

### Melt df thành Tidy data

In [35]:
"""
id_vars = country: cột contry giữ nguyên
var_name = "Year", value_name = "bmi": chuyển tên các cột còn lại (trừ id_vars) thành 1 column
và các giá trị của cột cũ thành các giá trị tương ứng

"""

df1 = pd.melt(df, id_vars=["Country"], var_name="Year", value_name="bmi")

In [11]:
df1.head()

       Country   Year    bmi
0  Afghanistan  Y1980  21.48
1      Albania  Y1980  25.22
2      Algeria  Y1980  22.26
3  Afghanistan  Y1981  21.46
4      Albania  Y1981  25.24

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  12 non-null     object
 1   Year     12 non-null     object
 2   bmi      12 non-null     float64
dtypes: float64(1), object(2)
memory usage: 416.0+ bytes

In [13]:
"""
Cột Year chứa kiểu str => chuyển về kiểu numeric
"""

'\nCột bmi chứa kiểu str => chuyển về kiểu numeric\n'

In [26]:
df1.Year = df1.Year.str.extract("(\d+)")

### chuyển sang dạng dữ liệu thống kê:

In [33]:
"""
index = Country: giữ lại cột Country (ko đổi)
columns="Year", values="bmi": chuyển year thành các field với các giá trị là field bmi 
"""
df2 = df1.pivot(index=["Country"], columns="Year", values="bmi")
df2

Year          1980   1981   1982   1983
Country
Afghanistan  21.48  21.46  21.45  21.44
Albania      25.22  25.24  25.26  25.27
Algeria      22.26  22.35  22.44  22.52

# Câu 2: 
Cho dữ liệu student.xlsx. Bộ dữ liệu này ghi lại điểm các môn của sinh viên \
Đọc dữ liệu \
Xem xét vấn đề về dữ liệu cần khắc phục \
Chuẩn lại dữ liệu để khắc phục vấn dề trên 

Đặt yêu cầu ngược lại là cần phải tạo pivot table để xem thống kê theo từng student và các subject. \
Hãy chuyển dữ liệu mới làm ở trên về dạng thống kê

In [37]:
df_student = pd.read_excel("student.xlsx")
df_student.head()

  Student  Physics  Chemistry  English  Math
0    John       78         79       56    95
1   Alice       58         72       91    81
2  Rachel       22         61       88    64
3     Tom       78         89       56    83

In [38]:
"""
vấn đề: tên cột chưa giá trị (Physics, Chemistry, English, Math)
"""

'\nvấn đề: tên cột chưa giá trị (Physics, Chemistry, English, Math)\n'

In [44]:
df_student_melt = df_student.melt(
    id_vars="Student", var_name="Subject", value_name="Grade"
)

df_student_melt.head()

  Student    Subject  Grade
0    John    Physics     78
1   Alice    Physics     58
2  Rachel    Physics     22
3     Tom    Physics     78
4    John  Chemistry     79

In [45]:
df_student_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Student  16 non-null     object
 1   Subject  16 non-null     object
 2   Grade    16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes

In [46]:
"""
Subject là biến phân loại (categorical variable)
"""

'\nSubject là biến phân loại (categorical variable)\n'

In [51]:
df_student_melt.Subject = df_student_melt.Subject.astype("category")
df_student_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Student  16 non-null     object
 1   Subject  16 non-null     category
 2   Grade    16 non-null     int64
dtypes: category(1), int64(1), object(1)
memory usage: 604.0+ bytes