In [1]:
import pandas as pd
import glob as gb

In [4]:
# tạo chuỗi mẫu
file_pattern = 'data/ds*nv*.csv'

In [5]:
# sử dụng hàm glob để lấy danh sách file theo mẫu
list_files = gb.glob(file_pattern)
list_files

['data\\dsnv_03.csv', 'data\\dsnv_1.csv', 'data\\ds_nv_2.csv']

In [6]:
# khai báo list chứa các DataFrame
list_data = []
#duyệt qua từng tên file trong list_files để đọc dữ liệu
for filename in list_files:
    #đọc dữ liệu
    df_temp = pd.read_csv(filename)
    #gắn dataframe vào list_data
    list_data.append(df_temp)

In [10]:
# nối các DataFrame trong list_data
df_all = pd.concat(list_data, ignore_index = True)
df_all

  hoten gioitinh  tuoi
0   ltd       nu    29
1   nva      nam    25
2   ltb       nu    22
3   nvc      nam    28