In [2]:
#bước 1: Import thư viện cần thiết
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [3]:
warnings.filterwarnings('ignore')

In [5]:
#bước 2: đọc dữ liệu
df = pd.read_excel('data/Diemthi_thpt_quocgia_2016.xlsx', sheet_name='Export Worksheet',
                  engine='openpyxl')

In [6]:
df.shape

(34826, 6)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34826 entries, 0 to 34825
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SOBAODANH   34826 non-null  object
 1   HO_TEN      34826 non-null  object
 2   NGAY_SINH   34826 non-null  object
 3   TEN_CUMTHI  34826 non-null  object
 4   GIOI_TINH   34826 non-null  object
 5   DIEM_THI    34826 non-null  object
dtypes: object(6)
memory usage: 1.6+ MB

In [8]:
df.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...

In [9]:
df.tail()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI
34821,HUI014539,VÒNG NGỌC YẾN,15/05/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 0.75 Ngữ văn: 5.00 Hóa học: 4....
34822,HUI014540,VÒNG THANH YẾN,09/09/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 4.75 Ngữ văn: 5.75 Vật lí: 6.8...
34823,HUI014541,VŨ THỊ BẢO YẾN,19/05/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 4.00 Ngữ văn: 5.50 Vật lí: 5.6...
34824,HUI014542,VŨ THỊ YẾN,13/01/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 5.75 Ngữ văn: 6.00 Vật lí: 7.4...
34825,HUI014543,VƯƠNG THỊ YẾN,05/02/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 2.50 Ngữ văn: 4.25 Vật lí: 4.2...

In [11]:
ds_mon_thi =["Toán","Ngữ văn","Địa lí","Tiếng Anh","Sinh học","Vật lí","Hóa học","Lịch sử"]
print(ds_mon_thi)

['Toán', 'Ngữ văn', 'Địa lí', 'Tiếng Anh', 'Sinh học', 'Vật lí', 'Hóa học', 'Lịch sử']

## Sử dụng kỹ thuật tách chuỗi (split)

In [12]:
diem_thi = df.loc[0, 'DIEM_THI']
diem_thi

'Toán:   2.00   Ngữ văn:   5.50   Lịch sử:   3.00   Địa lí:   5.00'

In [13]:
#'Toán:   2.00   Ngữ văn:   5.50   Lịch sử:   3.00   Địa lí:   5.00'
lst_diemthi = diem_thi.replace(':', '').split('   ')
lst_diemthi

['Toán', '2.00', 'Ngữ văn', '5.50', 'Lịch sử', '3.00', 'Địa lí', '5.00']

In [18]:
vitrimon = lst_diemthi.index('Địa lí')
diem = lst_diemthi[vitrimon + 1]
diem

'5.00'

In [19]:
def lay_diem_thi_theo_mon(tenmon, lst_diem):
    if tenmon in lst_diem:
        # tên môn có trong danh sách kết quả mà thí sinh dự thi
        vitrimon = lst_diem.index(tenmon)
        diem = lst_diem[vitrimon + 1]
        return round(float(diem), 2)
    else:
        #tên môn không có trong danh sách kết quả mà thí sinh dự thi
        return np.nan

In [21]:
# kiểm tra hàm 
lay_diem_thi_theo_mon('Sinh học', lst_diemthi)

nan

In [23]:
df['DIEM_THI_List'] = df['DIEM_THI'].str.replace(':', '').str.split('   ')

In [24]:
df['DIEM_THI_List2'] = df['DIEM_THI'].apply(lambda x: x.replace(':', '').split('   '))

In [25]:
df.loc[0, 'DIEM_THI_List']

['Toán', '2.00', 'Ngữ văn', '5.50', 'Lịch sử', '3.00', 'Địa lí', '5.00']

In [26]:
df.loc[0, 'DIEM_THI_List2']

['Toán', '2.00', 'Ngữ văn', '5.50', 'Lịch sử', '3.00', 'Địa lí', '5.00']

In [27]:
for mon in ds_mon_thi:
    df[mon] = df['DIEM_THI_List'].apply(lambda x: lay_diem_thi_theo_mon(mon, x))

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34826 entries, 0 to 34825
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SOBAODANH       34826 non-null  object
 1   HO_TEN          34826 non-null  object
 2   NGAY_SINH       34826 non-null  object
 3   TEN_CUMTHI      34826 non-null  object
 4   GIOI_TINH       34826 non-null  object
 5   DIEM_THI        34826 non-null  object
 6   DIEM_THI_List   34826 non-null  object
 7   DIEM_THI_List2  34826 non-null  object
 8   Toán            34500 non-null  float64
 9   Ngữ văn         33894 non-null  float64
 10  Địa lí          22171 non-null  float64
 11  Tiếng Anh       30200 non-null  float64
 12  Sinh học        3571 non-null   float64
 13  Vật lí          10157 non-null  float64
 14  Hóa học         8097 non-null   float64
 15  Lịch sử         3235 non-null   float64
dtypes: float64(8), object(8)
memory usage: 4.3+ MB

In [29]:
df.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI,DIEM_THI_List,DIEM_THI_List2,Toán,Ngữ văn,Địa lí,Tiếng Anh,Sinh học,Vật lí,Hóa học,Lịch sử
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....,"[Toán, 2.00, Ngữ văn, 5.50, Lịch sử, 3.00, Địa...","[Toán, 2.00, Ngữ văn, 5.50, Lịch sử, 3.00, Địa...",2.00,5.50,5.00,NaN,NaN,NaN,NaN,3.0
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...,"[Toán, 5.50, Ngữ văn, 5.25, Địa lí, 5.50, Tiến...","[Toán, 5.50, Ngữ văn, 5.25, Địa lí, 5.50, Tiến...",5.50,5.25,5.50,3.68,NaN,NaN,NaN,NaN
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...,"[Toán, 4.50, Ngữ văn, 5.50, Địa lí, 3.75, Tiến...","[Toán, 4.50, Ngữ văn, 5.50, Địa lí, 3.75, Tiến...",4.50,5.50,3.75,2.25,NaN,NaN,NaN,NaN
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...,"[Toán, 3.00, Ngữ văn, 6.00, Địa lí, 5.50, Tiến...","[Toán, 3.00, Ngữ văn, 6.00, Địa lí, 5.50, Tiến...",3.00,6.00,5.50,1.50,NaN,NaN,NaN,NaN
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...,"[Toán, 2.25, Ngữ văn, 4.75, Địa lí, 5.25, Tiến...","[Toán, 2.25, Ngữ văn, 4.75, Địa lí, 5.25, Tiến...",2.25,4.75,5.25,2.00,NaN,NaN,NaN,NaN

## Sử dụng Regular Expression

In [30]:
df2 = pd.read_excel('data/Diemthi_thpt_quocgia_2016.xlsx', sheet_name='Export Worksheet',
                  engine='openpyxl')

In [37]:
#Toán:   2.00   Ngữ văn:   5.50   Lịch sử:   3.00   Địa lí:   5.00
#pattern c1o dạng --> tenmon:   diem
#ví dụ: Toán:   2.00 --> Toán:\s\s\s\d+\.\d{2} hoặc Toán:\s{3}\d+\.\d{2}
for mon in ds_mon_thi:
    df2[mon] = df2['DIEM_THI'].str.extract('(' + mon + ':\s{3}\d+\.\d{2})', expand=True)[0].\
                            str.split(':   ', expand=True)[1]

In [36]:
df2['DIEM_THI'].str.extract('(' + mon + ':\s{3}\d+\.\d{2})', expand=True)[0].str.split(':   ', expand=True)[1]

0        3.00
1         NaN
2         NaN
3         NaN
4         NaN
         ...
34821     NaN
34822     NaN
34823     NaN
34824     NaN
34825     NaN
Name: 1, Length: 34826, dtype: object

In [38]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34826 entries, 0 to 34825
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SOBAODANH   34826 non-null  object
 1   HO_TEN      34826 non-null  object
 2   NGAY_SINH   34826 non-null  object
 3   TEN_CUMTHI  34826 non-null  object
 4   GIOI_TINH   34826 non-null  object
 5   DIEM_THI    34826 non-null  object
 6   Toán        34500 non-null  object
 7   Ngữ văn     33894 non-null  object
 8   Địa lí      22171 non-null  object
 9   Tiếng Anh   30200 non-null  object
 10  Sinh học    3571 non-null   object
 11  Vật lí      10157 non-null  object
 12  Hóa học     8097 non-null   object
 13  Lịch sử     3235 non-null   object
dtypes: object(14)
memory usage: 3.7+ MB

In [39]:
df2.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI,Toán,Ngữ văn,Địa lí,Tiếng Anh,Sinh học,Vật lí,Hóa học,Lịch sử
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....,2.00,5.50,5.00,NaN,NaN,NaN,NaN,3.00
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...,5.50,5.25,5.50,3.68,NaN,NaN,NaN,NaN
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...,4.50,5.50,3.75,2.25,NaN,NaN,NaN,NaN
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...,3.00,6.00,5.50,1.50,NaN,NaN,NaN,NaN
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...,2.25,4.75,5.25,2.00,NaN,NaN,NaN,NaN