In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('mushrooms.csv')

In [8]:
df['class'].unique()

array(['p', 'e'], dtype=object)

In [10]:
y = df['class']
x = df.drop(['class'], axis = 1)

In [13]:
x_s1 = pd.get_dummies(x)
y_s1 = pd.get_dummies(y)

In [18]:
y_s1

      e  p
0     0  1
1     1  0
2     1  0
3     0  1
4     1  0
...  .. ..
8119  1  0
8120  1  0
8121  1  0
8122  0  1
8123  1  0

[8124 rows x 2 columns]